@import "../libs/colors";
@import "../libs/mixins";

.container {
    padding-left: 15.625%;
    padding-right: 15.625%;

    @include media-xl {
        padding-left: 12.85%;
        padding-right: 12.85%;
    }

    @include media-l {
        padding-left: 8.33%;
        padding-right: 8.33%;
    }

    @include media-m {
        padding-left: 3.23%;
        padding-right: 3.23%;
    }
}

.header-wrapper {
    // padding-top: 50px;
    position: relative;
    @include background-cover(url(../img/header_bg.jpg));

    @include media-s {
        background: url(../img/header_bg.jpg) 15% no-repeat;
        background-size: cover; 
    }

    @include media-xs {
        background: url(../img/header_bg.jpg) 35% no-repeat;
        background-size: cover; 
    }
}

.header-wrapper__nav {
    @include flex-between;
    align-items: center;
    width: 100%;
    height: 70px;
    position: fixed;
    background: rgba(255, 255, 255, 0.6);
    z-index: 10000;

    @include media-s {
        @include flex-center;
    }
}

.nav-block {
    width: 555px;
    @include flex-between;
    align-items: center;

    @include media-m {
        width: 65%;        
    }

    @include media-s {
        display: none;
    }

    &__link {
        padding-top: 5px;
        font-weight: 700;
        font-size: 16px;
        text-decoration: none;
        color: $black;
        border-top: 3px solid transparent;
        text-transform: uppercase;

        &:hover, &:focus {
            outline: none;
            border-color: $orange;
        }

        &:active {
            color: $black-active;
            border-color: $orange-active;
        }
    }
}

.header-wrapper__header {
    padding-top: 388px;
    padding-bottom: 367px;

    @include media-s {
        padding-top: 250px;
        padding-bottom: 250px;
        @include flex-column;
    }
}

.title {
    font-weight: 900;
    font-size: 60px;
    color: $black;
    margin: 0;
}

.header-wrapper__header__title {
    margin-bottom: 15px;

    @include media-xs {
        text-align: center;
    }
}

.header-wrapper__header__text {
    width: 379px;
    margin-bottom: 28px;

    @include media-m {
        width: 60%;  
    }

    @include media-s {
        width: 100%;
        text-align: center;
    }
}

.text {
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    color: $black;
}

.button {
    width: 200px;
    height: 55px;
    background: $orange;
    border: solid 1px transparent;
    font-weight: 300;
    font-size: 20px;
    color: $white;
    text-transform: uppercase;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;

    &:hover, &:focus {
        outline: none;
        border-color: $orange;
        background: $white;
        color: $orange;
    }

    &:active {
        border-color: $orange-active;
        background: $white-active;
        color: $orange-active;
    }
}

.header-wrapper__header__scroll-icon {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);

    @include media-m {
        display: none;
    }
}

// mobile nav styles

.mobile-links-block {
    width: 100%;
    height: 300px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: absolute;
    top: 70px;
    left: 0;
    display: none;
    background: rgba(255, 255, 255, 0.6);
    pointer-events: none;
    transition: all 0.3s;
    opacity: 0;

    @include media-s {
        @include flex-column;
        justify-content: space-between;
    }

    .menu-open & {
        opacity: 1;
        pointer-events: initial;
    }

    &__link {
        font-weight: 700;
        font-size: 23px;
        text-decoration: none;
        color: $black;
        text-transform: uppercase;

        &:active {
            color: $black-active;
        }
    }
}

// burger styles

.header-wrapper__nav__burger {
    position: absolute;
    right: -5%;
    top: 50%;
    transform: translateY(-50%);
}

.burger {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: none;

    @include media-s {
        display: flex;
    }
}

.burger_line {
    fill: none;
    stroke: $black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger_line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.burger_line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}
  
.burger_line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}
  
.burger_opened .burger_line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}
.burger_opened .burger_line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}
.burger_opened .burger_line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}