.contact-us-wrapper {
    padding: 129.5px 0;

    @include media-l {
        padding: 130px 0;
    }

    @include media-s {
        padding: 120px 0;
    }

    @include media-xs {
        padding: 100px 0;
    }
} 

.contact-us-wrapper__footer {
    @include flex-column;

    &__text-block {
        padding-top: 60px;
        padding-bottom: 50px;
    }
}

.text-block__button {
    margin-top: 40px;
}

.button  {
    width: 395px;
    height: 58px;
    border: solid 2px transparent;
    background: $black;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: $white;
    cursor: pointer;

    &:hover, &:focus {
        outline: none;
        background: $white;
        border-color: $black;
        color: $black;
    }

    @include media-xs {
        width: 100%;
    }
}

.copy-block {
    @include flex-center-center;
    margin-top: 90px;

    &__text {
        font-weight: normal;
        font-size: 14px;
        color: $black;
        margin-left: 30px;
    }
}

.logo-link_black {
    width: 35px;
    height: 37px;
}
